body {
    background-image: url('fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}

h1 {
    margin-top: 50px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 5px #000;
}

.caixa-imagens {
    background-color: rgba(255, 230, 240, 0.9);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

.caixa-imagens {
    background-color: rgba(255, 230, 240, 0.9);
    width: 100%;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    transition: transform 0.3s;
}

.caixa-imagens img:hover {
    transform: scale(1.05);
}

.mensagem {
    background-color: rgba(255, 230, 240, 0.9);
    border-radius: 20px;
    padding: 40px;
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    height: 800px
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    color: #333;
}

.mensagem h3 {
    margin: 0;
    line-height: 1.6;
    font-weight: normal;
}

@media (max-width: 600px) {
    .caixa-imagens {
        grid-template-columns: repeat(2, 1fr);
    }

    .caixa-imagens img {
        height: 120px;
    }

    h1 {
        font-size: 30px;
    }

    .mensagem {
        padding: 15px;
    }
}
