body {
    background-image: url('./fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}

h1 {
    margin-top: 50px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 5px #000;
}

div {
    background-color: #ffe6f0; /* Rosa bebê */
    border-radius: 20px;
    padding: 20px;
    width: 150px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
.mensagem h3 {
    margin: 0;
    line-height: 1.6;
    font-weight: normal;
